aside {
    width: 320px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 30px 20px;
    position: fixed;
}

aside strong {
    font-size: 1.3rem;
    text-align: center;
    display: block;
    color: #333;
}

aside form {
    margin-top: 3rem;
}

aside form .input-block label {
    
}